/**
 * onedark-darker theme for reveal.js.
 * Author: Will Clark
 */


@import "../template/mixins";
@import "../template/settings";

html * {
	color-profile: sRGB;
	rendering-intent: auto;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Inter', sans-serif;
}

$black:         #0e1013;
$bg0:           #1f2329;
$bg1:           #282c34;
$bg2:           #30363f;
$bg3:           #323641;
$bg_d:          #181b20;
$bg_blue:       #61afef;
$bg_yellow:     #e8c88c;
$fg:            #a0a8b7;
$purple:        #bf68d9;
$green:         #8ebd6b;
$orange:        #cc9057;
$blue:          #4fa6ed;
$yellow:        #e2b86b;
$cyan:          #48b0bd;
$red:           #e55561;
$grey:          #535965;
$light_grey:    #7a818e;
$dark_cyan:     #266269;
$dark_red:      #8b3434;
$dark_yellow:   #835d1a;
$dark_purple:   #7e3992;
$diff_add:      #272e23;
$diff_delete:   #2d2223;
$diff_change:   #172a3a;
$diff_text:     #274964;

// Override theme settings (see ../template/settings.scss)
// Fonts
$mainFont: 'Inter';
$mainFontSize: 30px;
$codeFont: 'IBM Plex Mono';

// Main colours
$mainColor: $fg;
$backgroundColor: $bg0;

// Headers
$headingFont: 'Inter';
$headingColor: $blue;
$headingTextTransform: none;
$headingTextShadow: none;
$heading1Size: 2.00em;
$heading2Size: 1.75em;
$heading3Size: 1.50em;
$heading4Size: 1.00em;

// Links and actions
$linkColor: $cyan;
$linkColorHover: $purple;

// Text selection
$selectionBackgroundColor: $bg_blue;
$selectionColor: $bg2;


// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.green-text {
  color: #8ebd6b;
}

.orange-text {
  color: #cc9057;
}

.red-text {
  color: #e55561;
}

.purple-text {
  color: #bf68d9;
}

.reveal table {
  // margin: auto;
  border: 1px solid;
  // border-collapse: collapse;
  // border-spacing: 0;
}

.reveal table th,
.reveal table td {
  text-align: center;
  //padding: 0.2em 0.5em 0.2em 0.5em;
  //border-bottom: 1px solid;
  border: 1px solid;
  border-collapse: collapse;
}

.buffer {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.left-aligned {
  text-align: left;
}
